<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Mi Foro</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Inicio</a>
      </li>
        <li class="nav-item">
          <a routerLink="/publicaciones" class="nav-link">Publicaciones</a>
        </li>
      <ng-container *ngIf="authService.estaAutenticado()">
      <!--  <li class="nav-item">
          <a routerLink="/perfil" class="nav-link">Mi Perfil</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/perfil" class="nav-link">{{ nombreUsuario }}</a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" style="cursor:pointer">Cerrar sesión</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!authService.estaAutenticado()">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Registrarse</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>