<h2>Publicaciones</h2>
<div *ngIf="authService.estaAutenticado(); else noAutenticado">
  <form (ngSubmit)="agregarPublicacion()" [formGroup]="formulario">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input id="titulo" type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="mb-3">
      <label for="contenido" class="form-label">Contenido</label>
      <textarea id="contenido" class="form-control" formControlName="contenido"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
      {{ editarId ? 'Guardar cambios' : 'Agregar publicación' }}
    </button>
    <button *ngIf="editarId" type="button" class="btn btn-secondary ms-2" (click)="cancelarEdicion()">
      Cancelar edición
    </button>
  </form>
</div>
<hr>

<div *ngIf="publicaciones.length > 0; else noData">
  <div *ngFor="let pub of publicaciones" class="card my-3">
    <div class="card-body">
      <h5 class="card-title">{{ pub.titulo }}</h5>
      <p class="card-text">{{ pub.contenido }}</p>
      <small class="text-muted">Por: {{ pub.autor }}</small>
      <ng-container *ngIf="authService.obtenerDatosUsuario()?.uid === pub.usuario_id">
        <button class="btn btn-sm btn-warning me-2" (click)="editarPublicacion(pub)">Editar</button>
        <button class="btn btn-sm btn-danger" (click)="eliminarPublicacion(pub.id)">Eliminar</button>
      </ng-container>
    </div>
  </div>
</div>



<ng-template #noData>
  <p>No hay publicaciones todavía.</p>
</ng-template>

<ng-template #noAutenticado>
  <p class="alert alert-warning mt-3">
    Debes iniciar sesión para agregar una publicación.
  </p>
</ng-template>